<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web frontend for yt-dlp" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #002b36;
      }
      div.input-group > select.form-select {
        flex: 0.1 1 100px;
      }
      img {
        display: block;
        max-width: 50%;
        margin: 1rem auto;
      }
    </style>
    <title>youtube-dl</title>
    <link rel="icon" href="../../favicon.ico">
    {% if ROBOTS_NOINDEX %}
    <meta name="robots" content="noindex">
    {% endif %}
  </head>

  <body class="d-flex h-100 text-center text-white">
    <div class="container d-flex w-75 p-3 flex-column">

      <main class="px-3">
        <h1 class="display-4">youtube-dl</h1>
        {% if COVER_IMG %}
        <img src="{{ COVER_IMG }}">
        {% else %}
        <p class="lead">
          Enter a video URL to download the video to the server. The URL can be
          from YouTube or
          <a
            class="text-info"
            href="https://ytdl-org.github.io/youtube-dl/supportedsites.html"
            >any other supported site</a
          >. The server will automatically download the highest quality version
          available.
        </p>
        {% endif %}
        <form action="{{BASE_URL}}/q" method="POST">
          <input type="hidden" name="ui" value="true" />
          <div class="input-group">
            <input
              name="url"
              type="url"
              class="form-control"
              placeholder="URL"
              aria-label="URL"
              aria-describedby="button-submit"
              autofocus
            />
            <select class="form-select" name="format" style="display: none">
              <optgroup label="Video">
                <option value="bestvideo">Best Video</option>
                <option value="mp4">MP4</option>
                <option value="flv">Flash Video (FLV)</option>
                <option value="webm">WebM</option>
                <option value="ogg">Ogg</option>
                <option value="mkv">Matroska (MKV)</option>
                <option value="avi">AVI</option>
              </optgroup>
              <optgroup label="Audio">
                <option value="bestaudio">Best Audio</option>
                <option value="aac">AAC</option>
                <option value="flac">FLAC</option>
                <option value="mp3">MP3</option>
                <option value="m4a">M4A</option>
                <option value="opus">Opus</option>
                <option value="vorbis">Vorbis</option>
                <option value="wav">WAV</option>
              </optgroup>
            </select>
            <button class="btn btn-primary" type="submit" id="button-submit">
              Submit
            </button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
